html {
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #CCC;
  /*background:*/
            /*radial-gradient(ellipse at top left, hsla(240, 27%, 31%, 0.2), transparent),*/
            /*radial-gradient(ellipse at bottom right, hsla(317, 44%, 30%, 0.2), transparent);*/
  background-color: #1F2126;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #DDD;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, button, .message {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5ch;
}

.Panel:before,
body:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

body {

}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.Panel {
  /*background: radial-gradient(ellipse at top left, hsla(0, 0%, 100%, 0.1), transparent),*/
            /*radial-gradient(ellipse at top left, transparent, hsla(0, 0%, 0%, 0.2));*/
  /*box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.1);*/
  grid-column: 2;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 60vh;
}

main {
  display: grid;
}

#devices {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

aside {
  padding: 2rem 2rem;
  position: relative;
  /*background: linear-gradient(90deg, #323439, #3C3D41);*/
}

aside:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  margin: 2rem 0;
  content: ' ';
  background: currentColor;
  opacity: 0.1;
  pointer-events: none;
}

main {
  padding: 2rem 2rem;
}

button {
  border: none;
  background: hsla(0, 0%, 100%, 0);
  transition: border ease-in-out 0.5s,
              all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  border: 1px solid hsla(33.8, 96.7%, 65.9%, 0.0);
  color: hsl(33.8, 96.7%, 65.9%);
  padding: 1.2rem 2.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
  border-radius: 0.8rem;
  padding: 0.85rem 0.4rem;
}

button:disabled {
  color: hsl(3.8, 86.7%, 70.9%);
}

button:hover {
  background: hsla(33.8, 96.7%, 65.9%, 0.05);
}

@keyframes buttonFocusIn {
  from {
    box-shadow: 0 0 0rem hsla(33.8, 96.7%, 65.9%, 0.0);
  }
  to {
    box-shadow: 0 0 1rem hsla(33.8, 96.7%, 65.9%, 0.2);
  }
}

@keyframes buttonFocusOut {
  from {
    box-shadow: 0 0 1rem hsla(33.8, 96.7%, 65.9%, 0.2);
  }
  to {
    box-shadow: 0 0 0.5rem hsla(33.8, 96.7%, 65.9%, 0.05);
  }
}

button:focus {
  outline: none;
  border-color: hsla(33.8, 96.7%, 70%, 0.4);
  box-shadow: 0 0 1rem hsla(33.8, 96.7%, 65.9%, 0.2);
  animation:
    buttonFocusIn 0.3s ease-out both,
    buttonFocusOut 2s ease-in 1.5s forwards;
}

button > .mdi {
  margin-right: 0.75rem;
}

#devicesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#devicesHeader h3 {
  margin: 0;
}

#pair.noDevices {

}

#emptyDevices {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
  flex-direction: column;
  justify-content: center;
  will-change: filter, color, opacity, transform;
}

#emptyDevices .content {
  background: hsla(0, 0%, 100%, 0.01);
  border-radius: 2px;
  padding: 2rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.02);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.02);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.01);
}

#emptyDevices:not(.show) {
  animation: emptyOut 0.5s ease-out both;
}

#emptyDevices.show {
  animation: emptyIn 0.5s ease-out both;
}

#devicesList {
  display: grid;
  grid-row-gap: 0.5rem;
}

.deviceRow {
  display: grid;
  grid-template-columns: 1fr repeat(4, auto);
  grid-column-gap: 0.5rem;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.01);
  padding: 1rem 1rem;
  margin: 0 -1rem;
  border-radius: 2px;
  animation: emptyIn 0.5s ease-out both;
  border-top: 1px solid hsla(0, 0%, 100%, 0.02);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.02);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.01);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.01);
}

.deviceRow .settings:hover {
  transition: opacity 0.3s;
  opacity: 0.7;
}

/*.deviceRow:first-child {*/
/*}*/

.deviceRow:last-child {
}

/*.deviceRow + .deviceRow {*/
  /*border-top: 1px solid hsla(0, 0%, 100%, 0.02);*/
/*}*/

@keyframes emptyIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    filter: blur(10px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes emptyOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
    filter: blur(10px);
    pointer-events: none;
  }
}

.deviceRow .mdi {
  opacity: 0.5;
}

.deviceRow [itemprop=name] {
  animation: emptyIn 0.3s ease-out both;
}

.deviceRow.disconnected,
.deviceRow:not(.ready) {
  color: hsla(0, 0%, 40.9%, 1.0);
  background: hsla(0, 0%, 90%, 0.01);
}

.deviceRow.ready.disconnected [itemprop=name] {
  text-decoration: line-through;
}

.deviceRow [itemprop=battery] {
  display: block;
  transition: all ease-in-out 0.5s;
  opacity: 0.5;
}

.deviceRow [itemprop=battery][value=low] {
  color: hsla(5, 75%, 60%, 1.0);
}

.deviceRow.disconnected .battery [itemprop=battery] {
  color: inherit;
}

/*.deviceRow [itemprop=connected] {*/
  /*position: relative;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*line-height: 0;*/
/*}*/

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(10px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    color: inherit;
    transform: translateX(0);
  }
  50% {
    color: transparent;
  }
  100% {
    color: transparent;
    transform: translateX(100%);
    filter: blur(10px);
    pointer-events: none;
  }
}

.deviceRow .message {
  position: relative;
  margin-right: 1rem;
  transition: all ease-out 0.5s;
  font-size: 0.7rem;
  text-transform: uppercase;
  will-change: filter, color, opacity, transform;
  animation:
    emptyIn 0.5s ease-out both,
    emptyOut 0.5s ease-in 3s forwards;
}

.deviceRow:not(.ready) .message {
  animation:
    emptyIn 0.5s 0.7s ease-out both,
    emptyOut 0.5s ease-in 3s forwards;
}


.deviceRow.ready.connected > .message {
  color: hsla(115, 70%, 60%, 0.9);
}

.deviceRow.disconnected .message {
  animation: fade 0.5s ease-out both;
}

.deviceRow .indicator {
  margin-left: 0rem;
  margin-right: 0.3rem;
  height: 6px;
  width: 6px;
  border: 1px solid transparent;
  border-radius: 100%;
  display: block;
  background: transparent;
  content: ' ';
  position: relative;
  transition:
    background 0.15s cubic-bezier(0.165, 0.84, 0.44, 1),
    border 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.deviceRow.disconnected .indicator {
  background-color: rgba(0, 0, 0, 0.1);
}

.deviceRow .indicator {
  border-color: hsla(115, 0%, 50%, 0.1);
}

.deviceRow.connected .indicator:empty {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-color: hsla(115, 0%, 50%, 0.3);
}

.deviceRow.connected .indicator .activity {
  border: 1px solid transparent;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border-radius: 100%;
  mix-blend-mode: lighten;
}

.deviceRow.connected .indicator .activity[value^=control] {
  animation: activityControl 0.15s running alternate 2 both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.deviceRow.connected .indicator .activity[value^=note] {
  animation: activityNote 0.15s running alternate 2 both cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes activityControl {
  0% {
    background: hsla(190.4, 62.2%, 50%, 0.0);
  }
  100% {
    background: hsla(190.4, 62.2%, 50%, 0.9);
    box-shadow: 0 0 2rem hsla(190.4, 92.2%, 50%, 0.5);
  }
}

@keyframes activityNote {
  0% {
    background: hsla(115, 70%, 60%, 0.0);
  }
  100% {
    background: hsla(115, 70%, 60%, 0.9);
    box-shadow: 0 0 2rem hsla(115, 70%, 60%, 0.5);
  }
}

.spinner {
  margin: 0 auto;
  height: 2rem;
  text-align: center;
  font-size: 10px;
  color: #AAA;
  animation: emptyIn 0.5s 1s ease-out both;
}

.spinner > div {
  background-color: currentColor;
  height: 100%;
  width: 0.5rem;
  display: inline-block;
  margin-right: 2px;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1.0s;
}

.spinner .rect4 {
  animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}

[data-cm] {
  font-family: system-ui;
  transition: opacity 0.1s linear;
  min-width: 200px;
  background-color: hsl(222.9, 8.1%, 15.5%);
  border: 1px solid hsl(222.9, 10.1%, 18.5%);
  opacity: 0;
  border-radius: 4px;
  box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.1);
}

[data-cm].visible {
  transition: opacity 0.1s linear;
  opacity: 1;
}

[data-cm] ol {
  margin: 0;
  padding: 2px 0;
  list-style: none;
}

[data-cm-item] {
  cursor: default;
  transition: background 0.1s;
  padding: 5px 25px;
  color: #AAA;
  /*background-color: #fff;*/
  /*color: #333;*/
}


[data-cm-item]:hover {
  background: hsla(0, 0%, 50%, 0.1);
}

[data-cm-item]:focus {
  /*background-color: #ebebeb;*/
  outline: none;
}

[data-cm-item-caller] {
  padding-right: 10px;
}

[data-cm-item-caller]::after {
  content: "▶";
  display: inline-block;
  float: right;
  color: #333;
  font-size: 10px;
}

[data-cm-item-special="separator"] {
  margin: 5px 0;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
}

[data-cm-item-special~="arrow"] {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #999;
  font-size: 12px;
  text-align: center;
}

[data-cm-item-special="arrow up"]::after {
  content: "▲";
}

[data-cm-item-special="arrow down"]::after {
  content: "▼";
}
